UNET_Bird_Segmentation/


# Virtual Environment
UNET_Bird_Segmentation_Venv/
venv/
env/

# Python-specific files
__pycache__/
*.py[cod]
*$py.class

# Generated masks and images
*_mask.png
*.jpg
*.jpeg
*.png
!original_images/*.jpg    # This will keep your original images if they're in this folder
!original_images/*.jpeg
!original_images/*.png

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE configuration files
.vscode/
.idea/

# Requirements file if you want to ignore it
requirements.txt

